<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RootPath" value="C:\Secrets" />
    <add key="AlertDomain" value="TODO-INSERTTOKENHERE" />
    <add key="DebugMode" value="false" />
    <add key="UseApiForStructure" value="false" />
    <add key="UseApiForContent" value="false" />
    <add key="AnthropicApiKey" value="" />
    <add key="FileSystemData" value="\Network,true,0,1743942586
\Network\Network Diagram.pdf,false,2303,1727206186
\Network\Router Configuration.xml,false,25267,1741508986
\Network\Switch Configuration.doc,false,1417,1739636986
\Server,true,0,1752402586
\Server\Server Inventory.xlsx,false,38366,1735799386
\Server\Server Configurations.doc,false,29960,1728386986
\Server\Server Manual.pdf,false,12626,1730197786
\Server\Server Room Access Log.pdf,false,23237,1730136586
\Firewall,true,0,1751527786
\Firewall\Firewall Configuration.doc,false,5246,1728322186
\Firewall\Firewall Rules.pdf,false,13401,1738927786
\Firewall\Firewall Logs.xlsx,false,43633,1736926186
\VPN,true,0,1744586986
\VPN\VPN Configuration.doc,false,9854,1736177386
\VPN\VPN Access Logs.pdf,false,38036,1731446986
\VPN\VPN User List.xlsx,false,5241,1740680986
\Wireless Network,true,0,1760545786
\Wireless Network\Wireless Network Configuration.doc,false,42243,1734780586
\Wireless Network\Wireless Network Access Log.pdf,false,47147,1748708986
\Wireless Network\Wireless Network Security.pdf,false,17590,1742354986
\CCTV,true,0,1733984986
\CCTV\CCTV Configuration.doc,false,19896,1755520186
\CCTV\CCTV Footage Backup.xlsx,false,29644,1742938186
\CCTV\CCTV Incident Report.pdf,false,2752,1739932186
\Access Control,true,0,1733178586
\Access Control\Access Control Configuration.doc,false,28184,1737556186
\Access Control\Access Control Audit Log.xlsx,false,33592,1732876186
\Access Control\Access Control Policy.pdf,false,25825,1731788986
\Incident Response,true,0,1760621386
\Incident Response\Incident Response Plan.doc,false,42254,1749252586
\Incident Response\Incident Report Form.doc,false,9936,1745674186
\Incident Response\Incident Investigation Report.pdf,false,45521,1736659786
\Incident Response\Incident Response Team Contact List.xlsx,false,22373,1755574186
\Antivirus,true,0,1759598986
\Antivirus\Antivirus Configuration.doc,false,36794,1752125386
\Antivirus\Antivirus Reports.pdf,false,7548,1759976986
\Antivirus\Antivirus User Manual.doc,false,34872,1758972586
\Security Policies,true,0,1754688586
\Security Policies\IT Security Policy.pdf,false,25935,1749911386
\Security Policies\Password Policy.doc,false,32981,1753788586
\Security Policies\Information Security Awareness Training.pptx,false,17951,1748244586
\Disaster Recovery,true,0,1741278586
\Disaster Recovery\Disaster Recovery Plan.doc,false,42009,1748096986
\Disaster Recovery\Disaster Recovery Test Results.xlsx,false,15201,1756268986
\Disaster Recovery\Backup Details.doc,false,29755,1756780186
\Disaster Recovery\Recovery Procedures.pdf,false,22633,1760315386
\IT Infrastructure,true,0,1727432986
\IT Infrastructure\IT Infrastructure Diagram.pdf,false,31415,1732238986
\IT Infrastructure\IT Asset Register.xlsx,false,21364,1728437386
\IT Infrastructure\IT Maintenance Schedule.xlsx,false,3274,1746678586
\User Management,true,0,1757222986
\User Management\User Access Management.doc,false,9109,1740907786
\User Management\User Account Request Form.doc,false,2649,1747607386
\User Management\User Account Suspension Notification.pdf,false,36469,1727904586
\User Management\User Account Termination Notification.pdf,false,9072,1737350986
\Vulnerability Management,true,0,1743391786
\Vulnerability Management\Vulnerability Assessment Report.doc,false,45541,1759490986
\Vulnerability Management\Vulnerability Scan Results.xlsx,false,6835,1756780186
\Vulnerability Management\Vulnerability Remediation Procedure.pdf,false,9861,1756654186
\Training and Education,true,0,1743373786
\Training and Education\IT Security Training Schedule.xlsx,false,31002,1742869786
\Training and Education\IT Security Training Material.pdf,false,9933,1739276986
\Training and Education\IT Security Quiz.doc,false,22850,1747384186" />
  </appSettings>
</configuration>
